@model Clan
@using ClanManager.Models
@{
    ViewBag.Title = "Clans";
}

<div class="container">
    @try
    {
        <h2>@Data.selectedClan.Name</h2>
        <hr class="style12" />
        <div class="row">
            <div class="col-md-6">
                <p>Total Members: <span id="memberCount"></span> </p>
                <p>Average Attack Power: @Math.Round(Data.selectedClan.AverageAP(Data.selectedClan.Members), 2) </p>
                <p>Average Hongmoon Level: @Math.Round(Data.selectedClan.AverageHMLevel(Data.selectedClan.Members), 2) </p>
                <p>Average Score: @Math.Round(Data.selectedClan.AverageScore(Data.selectedClan.Members), 2) </p>
                <p>Server Group: @Data.selectedClan.ServerGroup(Data.selectedClan.Members) </p>
            </div>
            <div class="col-md-3">
                <p>Assassins: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Assassin")</p>
                <p>Blade Dancers: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Blade Dancer")</p>
                <p>Blade Masters: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Blade Master")</p>
                <p>Destroyers: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Destroyer")</p>
                <p>Force Masters: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Force Master")</p>
            </div>
            <div class="col-md-3">
                <p>Kung Fu Masters: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Kung Fu Master")</p>
                <p>Soul Fighters: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Soul Fighter")</p>
                <p>Summoners: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Summoner")</p>
                <p>Warlocks: @Data.selectedClan.ClassAmount(Data.selectedClan.Members, "Warlock")</p>
            </div>
        </div>
        <table id="memberTable" class="tablesorter table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Hitpoints</th>
                    <th>Attack Power</th>
                    <th>Critical</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    }
    catch
    {
        <p>error</p>
    }
</div>

@section scripts{
<script src="~/scripts/scripts.js"></script>
<script></script>
}