@using ClanManager.Models

<!DOCTYPE html>
<html>
<head>
    @{             
        if (Data.selectedClan.Members != null)
        {
            List<Character> emptylist = new List<Character>();
            emptylist.Add(new Character());
            Data.selectedClan = new Clan(Data.selectedClan.Name, emptylist);
            Data.selectedClan.Members.Clear();
            Website.errorLoadingData = 0;
        }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ClanManager</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/pageLoadReset.js"></script>

</head>
<body>
    <div class="nav-left">
        <a href="~/Home/Index"><div class="nav-logo"></div></a>
        <a href="~/Home/Index"><div class="nav-title @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && 
            ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">Home</div></a>
        <a href="~/Home/Clans"><div class="nav-title @(ViewContext.RouteData.Values["Controller"].ToString() == "Clan" || 
            ViewContext.RouteData.Values["Action"].ToString() == "Clans" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">Clans</div></a>
        <a href="~/Home/About"><div class="nav-title @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">About</div></a>


    </div>
    @RenderBody()
    <script src="~/scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <link href="~/Content/Profile.css" rel="stylesheet" />
    @RenderSection("profileCSS", false)
</body>
</html>